{% load helpers %}
<div class="card">
  <h5 class="card-header">Referenced by Custom Fields ({{ total }})</h5>
  <div class="card-body p-0">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Source object</th>
          <th>Source type</th>
          <th>Custom field</th>
        </tr>
      </thead>
      <tbody>
        {% for ref in page.object_list %}
          <tr>
            <td>
              <a href="{{ ref.source_object.get_absolute_url }}">{{ ref.source_object }}</a>
            </td>
            <td>{{ ref.source_model_label|capfirst }}</td>
            <td>{{ ref.cf_label }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if page.has_other_pages %}
    <div class="card-footer">{% include 'inc/paginator.html' with paginator=page.paginator page=page %}</div>
  {% endif %}
</div>
