{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block content %}
  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">{% trans 'CF Backrefs' %} ({{ total }})</h5>
        <div class="card-body">
          {% if current_q %}
            <div class="text-muted small mb-2">
              {% blocktrans trimmed with matched=matched total=total %}
                Matching {{ matched }} of {{ total }}
              {% endblocktrans %}
            </div>
          {% endif %}
          {% include 'inc/table_controls_htmx.html' %}
        </div>
        <div id="object_list"
             hx-target="this"
             hx-select="#object_list"
             hx-swap="outerHTML">
          <div class="table-responsive">{% render_table table 'inc/table.html' %}</div>
          {% include 'inc/paginator.html' with paginator=table.paginator page=table.page %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
